<h1 class="offset3">欢迎使用爱沃土中文数据库</h1>
<br/>
<div class="offset2 span8">
	<div class="row">
		<%= search_form_for(@q,url: search_path,:html=>{:class=>"form-search"} ) do |f| %>
			<%= f.text_field :name_cont,:placeholder=>"输入需要查找物品名称",:class=>"input-xxlarge search-query" %>	  
		  <button type="submit" class="btn">查询</button>
		<%end%>
	</div>
	<div class="row">
	
		<%=render "item_search_form"%>
	</div>
	
	<div class="row">
		<div class="well">
			<h5>2014-3-24 更新说明</h5>
				<ul>
					<li>武器区分单双手模式，再也不能双持毒锤啦！</li>
					<li>分享页面中，治愈的职业标签又复活了！</li>
				</ul>
		</div>
	</div>
	</div>
</div>