<h1 class="offset3">欢迎使用爱沃土中文数据库</h1>
<br/>
<div class="offset2 span8">
	<form action="/search" class="form-search">
	  <input type="text" class="input-xxlarge search-query" name="item_name" placeholder="输入需要查找物品名称">
	  <button type="submit" class="btn">查询</button>
	</form>
</div>