<div class='row-fluid'>

	<div class="span6">
	<%=render 'item_grid'%>
	</div>
	
	<div class="span5 offset1">
	
		<div class="row">
			<h3>奖励属性</h3>
		</div>
		
		<div class="row">
			<h3>装备属性</h3>
		</div>
	</div>
</div>
